/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #333;
}
.profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Posts Styles */
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
}

.post {
  overflow: hidden;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.smaller-image{
position: absolute;
width: 100px; /* Set a width for the container (adjust as needed) */
height: auto; /* Set a height for the container (adjust as needed) */
top: 5px; /* Distance from the top edge of the container */
right: 100px; /* Distance from the right edge of the container */
max-width: 100px; /* Optional: Set a maximum width for the image */
}
textarea, input[type="file"], button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
